.countries-section {
  margin: 50px;

  .country-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }

  .country-item {
    border: dotted white 3px;
    border-radius: 15px;
    width: 200px;
    flex-grow: 1;
    padding: 20px;

    h3 {
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }

    p {
      text-align: center;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  h2 {
    text-align: center;
  }
}
