nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: aliceblue;

  a {
    color: #242424;
    padding: 10px 20px;
  }

  p {
    color: rgb(173, 215, 252);
    padding: 5px 10px;
    margin: 5px 10px 5px 50px;
    border-radius: 5px;
    background-color: #242424;
    text-align: right
  }

  p:hover {
    cursor: pointer;
  }

  .active {
    background-color: rgb(173, 215, 252);
  }
}
